@{
    ViewBag.Title = AtlasSolar.Resources.Common.ForgotPasswordConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @AtlasSolar.Resources.Common.PleaseCheckYourEmailToResetYourPassword
    </p>
</div>
	
