
@{
    ViewBag.Title = AtlasSolar.Resources.Common.Help;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@AtlasSolar.Resources.Common.CalcEnergy</h2>

@{
    if (System.Threading.Thread.CurrentThread.CurrentCulture != null)
    {
        if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en")
        {
            <div>
                <p><strong><em><span style="font-size: medium;">Calculation of energy consumption</span></em></strong><span style="font-size: medium;"> is a tool for calculating the household electricity consumption (farm, country house, home etc.). With the help of this calculator, you can calculate how much energy your house is consuming, which is the first and foremost step for developing the plan for installation of solar PV panels. </span></p>
                <p><span style="font-size: medium;">To use this calculator enter your energy consumption data for different household appliances, which you can select from the pull-out menu. In the menu the most common values of the basic household electrical appliances are given. Select the power in watts next to the name of appliances. Typically, the power of the appliance is indicated on a special label located behind the back or bottom wall of the appliance. Enter approximately the usage duration for each appliance diring one day (in the first cell "hours" and on the second cell "minutes"). To add devices, click the "Add" icon. After adding all the appliances you can see the total energy consumption of your house on the lower right corner of the window.</span></p>
            </div>
        }
        else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "kk")
        {
            <div>
                <p><strong><em><span style="font-size: medium;">&laquo;Энергия</span></em></strong><strong><em><span style="font-size: medium;">тұтыну</span></em></strong><strong><em><span style="font-size: medium;">мөлшерін есептеу</span></em></strong><strong><em><span style="font-size: medium;">&raquo;</span></em></strong><strong><em><span style="font-size: medium;"> калькуляторы</span></em></strong><span style="font-size: medium;"> - үй шаруашылықтарының (ферма, үй</span><span style="font-size: medium;">және т.б.</span><span style="font-size: medium;">)</span><span style="font-size: medium;"> энергия тұтынуын есептеу құралы. Бұл калькулятор көмегімен сіздің үйіңіздің қаншалықты энергия тұтынатының есептеуге болады. Бұл өз кезегінде күн фотоэлектр панельдерін орнату жоспарын дамыту барысындағы бірінші және маңызды қадам болып табылады. </span></p>
                <p><span style="font-size: medium;">Бұл калькуляторды пайдалану үшін, түрлі тұрмыстық техника үшін сіздің энергия тұтыну мәліметтеріңізді енгізіңіз. Негізгі және көп пайдаланылатын тұрмыстық техникалар тізімін ашылмалы мәзірден таңдаңыз және оған сәйкес қуатың таңдаңыз. Әдетте, тұрмыстық техникалардың қуаты құрылғының артқы немесе астыңғы жағында орналасқан арнайы заттаңбадан табуға болады. Келесі, әрбір құралдың тәуліктік пайдалану уақыты туралы ақпаратты енгізіңіз (бірінші ұяшыққа &laquo;сағат&raquo; сандарын, екінші ұяшықта &laquo;минут&raquo; мәндерін көрсетіңіз. Құрылғыны тізімге қосу үшін, &laquo;Қосу&raquo; белгішесін басыңыз. Барлық құрылғыларды қосқаннан кейін сіз терезенің төменгі оң жақ бұрышынан сіздің үйіңіздің жалпы электр энергия тұтыну мөлшерін көре аласыз.</span></p>
            </div>
        }
        else
        {
            <div>
                <p><span style="font-size: medium;"><strong><em>Калькулятор &laquo;Расчет энергопотребления&raquo; -</em></strong> это инструмент для расчета потребления электроэнергии домохозяйствами (ферма, дача, дом и т. д.). С помощью этого калькулятора вы можете рассчитать, сколько энергии потребляет ваш дом, и этот расчетявляется первым и важным шагом при разработке плана установки солнечных фотоэлектрических панелей.</span></p>
                <p><span style="font-size: medium;">Чтобы пользоваться этим калькулятором, введите свои данные потребления энергии для различных бытовых приборов, которые вы можете выбрать из выпадающего меню. В меню приведены наиболее общие значения основных бытовых электроприборов. Выберите мощность в ваттах рядом с названием приборов. Как правило, мощность прибора указана на специальной этикетке, расположенной на задней или нижней стенке прибора. Введите приблизительное &nbsp;суточное продолжительность использования каждого прибора (в первом ячейке укажите &laquo;часы&raquo; и на втором ячейке &laquo;минуты&raquo;). Чтобы добавить устройства, щелкните по значку &laquo;Добавить&raquo;. После добавления всех приборов вы можете увидеть общее энергопотребление вашего дома в правом нижнем углу окна.</span></p>
            </div>
        }
    }
}