
@{
    ViewBag.Title = AtlasSolar.Resources.Common.Admin;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@AtlasSolar.Resources.Common.Admin</h2>

@{
    if (System.Threading.Thread.CurrentThread.CurrentCulture != null)
    {
        if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "ru")
        {
            <legend>Система</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/Admin/Init">
                                <button type="submit">Инициализация</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Инициализация системы, запускается один раз</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Users/Index">
                                <button type="submit">Пользователи</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Пользователи</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/SystemLogs/Index">
                                <button type="submit">Системный журнал</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Системный журнал</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Statistics/Index">
                                <button type="submit">Статистика</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Статистика</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/RefreshStatistics">
                                <button type="submit">Обновить статистику</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Обновить статистику</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Feedbacks/Index">
                                <button type="submit">Отзывы</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Отзывы</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>Метеорология</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/MeteoDataSources/Index">
                                <button type="submit">Источники метеоданных</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Источники метеоданных</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/MeteoDataPeriodicities/Index">
                                <button type="submit">Периодичности метеоданных</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Периодичности метеоданных</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/MeteoDataTypes/Index">
                                <button type="submit">Типы метеоданных</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Типы метеоданных</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/ParseMeteoDataTypes">
                                <button type="submit">Парсинг типов метеоданных</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Парсинг типов метеоданных</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/ParseMeteoDataNASASSEMonthlyAverage">
                                <button type="submit">Парсинг среднемесячных метеоданных NASA SSE</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Парсинг среднемесячных метеоданных NASA SSE</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/ParseMeteoDataNASAPOWERMonthlyAverage">
                                <button type="submit">Парсинг среднемесячных метеоданных NASA POWER</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Парсинг среднемесячных метеоданных NASA POWER</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/ParseMeteoDataNASASSEDaily">
                                <button type="submit">Парсинг ежедневных метеоданных NASA SSE</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Парсинг ежедневных метеоданных NASA SSE</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/ParseMeteoDataNASAPOWERDaily">
                                <button type="submit">Парсинг ежедневных метеоданных NASA POWER</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Парсинг ежедневных метеоданных NASA POWER</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/UploadSARAHE">
                                <button type="submit">Загрузка данных SARAH-E</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Загрузка данных SARAH-E</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/UploadCLARA">
                                <button type="submit">Загрузка данных CLARA</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Загрузка данных CLARA</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Options/Index">
                                <button type="submit">Опции</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Опции</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/Average">
                                <button type="submit">Осреднение метеоданных</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Осреднение метеоданных</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>Карты</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/MapDescriptions/Index">
                                <button type="submit">Описания карт</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Описания карт</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>Области</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/Provinces/Index">
                                <button type="submit">Области</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Области</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>СЭС</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/SPPStatuses/Index">
                                <button type="submit">Статусы СЭС</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Статусы СЭС</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/SPPPurposes/Index">
                                <button type="submit">Назначения СЭС</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Назначения СЭС</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>Панели</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/PanelOrientations/Index">
                                <button type="submit">Ориентации панелей</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Ориентации панелей</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/PVSystemMaterials/Index">
                                <button type="submit">Материалы панелей</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Материалы панелей</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>Приборы</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/ApplianceTypes/Index">
                                <button type="submit">Типы приборов</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Типы приборов</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Appliances/Index">
                                <button type="submit">Приборы</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Приборы</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>ЛЭП</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/Leprngs/Index">
                                <button type="submit">Ранги</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Ранги</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Leptypes/Index">
                                <button type="submit">Типы</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Типы</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Lepmtrls/Index">
                                <button type="submit">Материалы</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Материалы</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Lepinsttps/Index">
                                <button type="submit">Типы установки</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Типы установки</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Leprnzons/Index">
                                <button type="submit">Зоны</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Зоны</p>
                        </td>
                    </tr>
                </table>
            </div>
        }
        else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "kk")
        {
            <legend>Система</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/Admin/Init">
                                <button type="submit">Инициализация</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Инициализация системы, запускается один раз</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Users/Index">
                                <button type="submit">Пользователи</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Пользователи</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/SystemLogs/Index">
                                <button type="submit">Системный журнал</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Системный журнал</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Statistics/Index">
                                <button type="submit">Статистика</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Статистика</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/RefreshStatistics">
                                <button type="submit">Обновить статистику</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Обновить статистику</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Feedbacks/Index">
                                <button type="submit">Отзывы</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Отзывы</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>Метеорология</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/MeteoDataSources/Index">
                                <button type="submit">Источники метеоданных</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Источники метеоданных</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/MeteoDataPeriodicities/Index">
                                <button type="submit">Периодичности метеоданных</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Периодичности метеоданных</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/MeteoDataTypes/Index">
                                <button type="submit">Типы метеоданных</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Типы метеоданных</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/ParseMeteoDataTypes">
                                <button type="submit">Парсинг типов метеоданных</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Парсинг типов метеоданных</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/ParseMeteoDataNASASSEMonthlyAverage">
                                <button type="submit">Парсинг среднемесячных метеоданных NASA SSE</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Парсинг среднемесячных метеоданных NASA SSE</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/ParseMeteoDataNASAPOWERMonthlyAverage">
                                <button type="submit">Парсинг среднемесячных метеоданных NASA POWER</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Парсинг среднемесячных метеоданных NASA POWER</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/ParseMeteoDataNASASSEDaily">
                                <button type="submit">Парсинг ежедневных метеоданных NASA SSE</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Парсинг ежедневных метеоданных NASA SSE</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/ParseMeteoDataNASAPOWERDaily">
                                <button type="submit">Парсинг ежедневных метеоданных NASA POWER</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Парсинг ежедневных метеоданных NASA POWER</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/UploadSARAHE">
                                <button type="submit">Загрузка данных SARAH-E</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Загрузка данных SARAH-E</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/UploadCLARA">
                                <button type="submit">Загрузка данных CLARA</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Загрузка данных CLARA</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Options/Index">
                                <button type="submit">Опции</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Опции</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/Average">
                                <button type="submit">Осреднение метеоданных</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Осреднение метеоданных</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>Карты</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/MapDescriptions/Index">
                                <button type="submit">Описания карт</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Описания карт</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>Области</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/Provinces/Index">
                                <button type="submit">Области</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Области</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>СЭС</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/SPPStatuses/Index">
                                <button type="submit">Статусы СЭС</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Статусы СЭС</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/SPPPurposes/Index">
                                <button type="submit">Назначения СЭС</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Назначения СЭС</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>Панели</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/PanelOrientations/Index">
                                <button type="submit">Ориентации панелей</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Ориентации панелей</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/PVSystemMaterials/Index">
                                <button type="submit">Материалы панелей</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Материалы панелей</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>Приборы</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/ApplianceTypes/Index">
                                <button type="submit">Типы приборов</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Типы приборов</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Appliances/Index">
                                <button type="submit">Приборы</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Приборы</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>ЛЭП</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/Leprngs/Index">
                                <button type="submit">Ранги</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Ранги</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Leptypes/Index">
                                <button type="submit">Типы</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Типы</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Lepmtrls/Index">
                                <button type="submit">Материалы</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Материалы</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Lepinsttps/Index">
                                <button type="submit">Типы установки</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Типы установки</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Leprnzons/Index">
                                <button type="submit">Зоны</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Зоны</p>
                        </td>
                    </tr>
                </table>
            </div>
        }
        else
        {
            <legend>System</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/Admin/Init">
                                <button type="submit">Initialization</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>System initialization, starts once</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Users/Index">
                                <button type="submit">Users</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Users</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/SystemLogs/Index">
                                <button type="submit">Syslog</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Syslog</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Statistics/Index">
                                <button type="submit">Statistics</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Statistics</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/RefreshStatistics">
                                <button type="submit">Update statistics</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Update statistics</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Feedbacks/Index">
                                <button type="submit">Feedbacks</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Feedbacks</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>Meteorology</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/MeteoDataSources/Index">
                                <button type="submit">Weather sources</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Weather sources</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/MeteoDataPeriodicities/Index">
                                <button type="submit">Meteorological frequency</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Meteorological frequency</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/MeteoDataTypes/Index">
                                <button type="submit">Weather Types</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Weather Types</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/ParseMeteoDataTypes">
                                <button type="submit">Parsing weather types</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Parsing weather types</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/ParseMeteoDataNASASSEMonthlyAverage">
                                <button type="submit">Parsing monthly average weather data NASA SSE</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Parsing monthly average weather data NASA SSE</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/ParseMeteoDataNASAPOWERMonthlyAverage">
                                <button type="submit">Parsing monthly average weather data NASA POWER</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Parsing monthly average weather data NASA POWER</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/ParseMeteoDataNASASSEDaily">
                                <button type="submit">Parsing Daily Weather Data NASA SSE</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Parsing Daily Weather Data NASA SSE</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/ParseMeteoDataNASAPOWERDaily">
                                <button type="submit">Parsing Daily Weather Data NASA POWER</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Parsing Daily Weather Data NASA POWER</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/UploadSARAHE">
                                <button type="submit">Data loading SARAH-E</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Data loading SARAH-E</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/UploadCLARA">
                                <button type="submit">Data loading CLARA</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Data loading CLARA</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Options/Index">
                                <button type="submit">Options</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Options</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Admin/Average">
                                <button type="submit">Weather Averaging</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Weather Averaging</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>Maps</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/MapDescriptions/Index">
                                <button type="submit">Map Descriptions</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Map Descriptions</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>Provinces</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/Provinces/Index">
                                <button type="submit">Provinces</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Provinces</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>Solar power plants</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/SPPStatuses/Index">
                                <button type="submit">Statuses</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Statuses</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/SPPPurposes/Index">
                                <button type="submit">Purposes</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Purposes</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>Panels</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/PanelOrientations/Index">
                                <button type="submit">Panel Orientations</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Panel Orientations</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/PVSystemMaterials/Index">
                                <button type="submit">Panel Materials</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Panel Materials</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>Appliances</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/ApplianceTypes/Index">
                                <button type="submit">Appliance types</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Appliance types</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Appliances/Index">
                                <button type="submit">Appliances</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Appliances</p>
                        </td>
                    </tr>
                </table>
            </div>

            <legend>Power lines</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/Leprngs/Index">
                                <button type="submit">Grades</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Grades</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Leptypes/Index">
                                <button type="submit">Types</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Types</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Lepmtrls/Index">
                                <button type="submit">Materials</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Materials</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Lepinsttps/Index">
                                <button type="submit">Installation types</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Installation types</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Leprnzons/Index">
                                <button type="submit">Zones</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Zones</p>
                        </td>
                    </tr>
                </table>
            </div>
        }
    }
}
