
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-4">
        <p>
            @Html.ActionLink("Average", "Average", "Averager", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <p>
            @Html.ActionLink("CreateLayerData", "CreateLayerData", "Averager", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>