<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AtlasSolar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="NpgsqlContext" connectionString="Server=92.46.36.100;User Id=remote;Password=remote;Port=5432;Database=AtlasSolar;" providerName="Npgsql" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="2147483647" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <AtlasSolar.Properties.Settings>
      <setting name="SystemLogActionStart" serializeAs="String">
        <value>Start</value>
      </setting>
      <setting name="SystemLogActionFinish" serializeAs="String">
        <value>Finish</value>
      </setting>
      <setting name="NASASSELongitudeMin" serializeAs="String">
        <value>44.5</value>
      </setting>
      <setting name="NASASSELongitudeMax" serializeAs="String">
        <value>95.5</value>
      </setting>
      <setting name="NASASSELatitudeMin" serializeAs="String">
        <value>38.5</value>
      </setting>
      <setting name="NASASSELatitudeMax" serializeAs="String">
        <value>56.5</value>
      </setting>
      <setting name="NASASSECoordinatesStep" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NASASSECode" serializeAs="String">
        <value>NASA SSE</value>
      </setting>
      <setting name="Monthly" serializeAs="String">
        <value>monthly</value>
      </setting>
      <setting name="Average" serializeAs="String">
        <value>average</value>
      </setting>
      <setting name="NASASSEYearStart" serializeAs="String">
        <value>1983</value>
      </setting>
      <setting name="NASASSEYearFinish" serializeAs="String">
        <value>2005</value>
      </setting>
      <setting name="Daily" serializeAs="String">
        <value>daily</value>
      </setting>
      <setting name="NASAPOWERLongitudeMin" serializeAs="String">
        <value>44.75</value>
      </setting>
      <setting name="NASAPOWERLongitudeMax" serializeAs="String">
        <value>95.25</value>
      </setting>
      <setting name="NASAPOWERLatitudeMin" serializeAs="String">
        <value>38.75</value>
      </setting>
      <setting name="NASAPOWERLatitudeMax" serializeAs="String">
        <value>56.25</value>
      </setting>
      <setting name="NASAPOWERCoordinatesStep" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="NASAPOWERYearStart" serializeAs="String">
        <value>1981</value>
      </setting>
      <setting name="NASAPOWERCode" serializeAs="String">
        <value>NASA POWER</value>
      </setting>
      <setting name="SARAHECode" serializeAs="String">
        <value>SARAH-E</value>
      </setting>
      <setting name="Hourly" serializeAs="String">
        <value>Hourly</value>
      </setting>
      <setting name="SARAHECoordinatesStep" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="SARAHELongitudeMinOption" serializeAs="String">
        <value>SARAHELongitudeMin</value>
      </setting>
      <setting name="SARAHELongitudeMaxOption" serializeAs="String">
        <value>SARAHELongitudeMax</value>
      </setting>
      <setting name="SARAHELatitudeMinOption" serializeAs="String">
        <value>SARAHELatitudeMin</value>
      </setting>
      <setting name="SARAHELatitudeMaxOption" serializeAs="String">
        <value>SARAHELatitudeMax</value>
      </setting>
      <setting name="PanelOriantation2AxisCode" serializeAs="String">
        <value>PanelOriantation2Axis</value>
      </setting>
      <setting name="PanelOriantationVerticalCode" serializeAs="String">
        <value>PanelOriantationVertical</value>
      </setting>
      <setting name="PanelOriantationHorizontalCode" serializeAs="String">
        <value>PanelOriantationHorizontal</value>
      </setting>
      <setting name="PanelOriantationFixedCorrectableCode" serializeAs="String">
        <value>PanelOriantationFixedCorrectable</value>
      </setting>
      <setting name="PanelOriantationFixedCode" serializeAs="String">
        <value>PanelOriantationFixed</value>
      </setting>
      <setting name="PanelOriantationOptimalCode" serializeAs="String">
        <value>PanelOriantationOptimal</value>
      </setting>
      <setting name="CLARACoordinatesStep" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="CLARALongitudeMinOption" serializeAs="String">
        <value>CLARALongitudeMin</value>
      </setting>
      <setting name="CLARALongitudeMaxOption" serializeAs="String">
        <value>CLARALongitudeMax</value>
      </setting>
      <setting name="CLARALatitudeMinOption" serializeAs="String">
        <value>CLARALatitudeMin</value>
      </setting>
      <setting name="CLARALatitudeMaxOption" serializeAs="String">
        <value>CLARALatitudeMax</value>
      </setting>
      <setting name="CLARACode" serializeAs="String">
        <value>CLARA</value>
      </setting>
      <setting name="GeoServerPath" serializeAs="String">
        <value>C:\GeoServer 2.9.0</value>
      </setting>
      <setting name="GeoServerIP" serializeAs="String">
        <value>92.46.36.100</value>
      </setting>
    </AtlasSolar.Properties.Settings>
  </applicationSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>